<!DOCTYPE html>
<html>

<head>
  <title>FeedCo</title>
  <%= stylesheet_link_tag 'application' , media: 'all' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
</head>

<body>
  <div class="dashboard">
    <header class="dashboard-header">
      <h1>FeedCo</h1>
    </header>
    <div class="dashboard-content">
      <div class="widget-row">
        <div class="widget">
          <h3>Top Suppliers</h3>
          <div id="companies_pie_chart"></div>
        </div>
        <div class="widget">
          <h3>Product Lookup</h3>
          <%= render 'ingredient_lookup' %>
        </div>
        <div class="widget">
          <h2>Top Sales</h2>
          <div id="products_bar_chart" style="width:100%; height:400px;"></div>
        </div>
      </div>
      <div class="widget-row">
        <div class="widget large-widget">
          <div id="container"></div>
        </div>
        <div class="widget">
          <%= render 'inventory_widget' %>
        </div>
      </div>
    </div>
  </div>
</body>

</html>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    Highcharts.chart('products_bar_chart', {
      chart: {
        type: 'column'
      },
      title: {
        text: ''
      },
      xAxis: {
        categories: [
        <% @top_products.each do | product | %>
          '<%= product.name %>',
        <% end %>
      ],
      title: {
        text: 'Products'
      }
    },
      yAxis: {
      min: 0,
      title: {
        text: 'Sales Count',
        align: 'high'
      },
      labels: {
        overflow: 'justify'
      }
    },
      tooltip: {
      valueSuffix: ' units'
    },
      plotOptions: {
      bar: {
        dataLabels: {
          enabled: true
        }
      }
    },
      legend: {
      reversed: false
    },
      credits: {
      enabled: false
    },
      series: [{
        name: 'Sales Count',
        colorByPoint: true,
        data: [
        <% @top_products.each do | product | %>
          <%= product.sales_count %>,
        <% end %>
      ]
    }]
  });
});


  document.addEventListener("DOMContentLoaded", function () {
    Highcharts.chart('companies_pie_chart', {
      chart: {
        type: 'pie'
      },
      title: {
        text: ''
      },
      plotOptions: {
        pie: {
          dataLabels: {
            enabled: false
          },
          showInLegend: true
        }
      },
      tooltip: {
        pointFormat: '{series.name}: <b>{point.y}</b>'
      },
      series: [{
        name: 'Products',
        colorByPoint: true,
        data: [
          <% @companies.each do | company | %>
        {
          name: '<%= company.company_name %>',
          y: <%= company.product_count %>
            },
          <% end %>
        ]
    }]
    });
  });

  document.addEventListener('DOMContentLoaded', function () {
    const container = document.getElementById('container');
    if (!container) {
      console.error('Container element not found');
      return;
    }

    const purchaseOrderData = <%= @purchase_order_data.to_json.html_safe %>;

    if (!purchaseOrderData || Object.keys(purchaseOrderData).length === 0) {
      console.error('Purchase order data is empty or not defined');
      return;
    }

    Highcharts.chart('container', {
      chart: {
        type: 'line'
      },
      title: {
        text: 'Monthly Purchase Order Data'
      },
      subtitle: {
        text: 'Last Six Months'
      },
      xAxis: {
        categories: purchaseOrderData.categories
      },
      yAxis: {
        title: {
          text: 'Purchase Order Count'
        }
      },
      plotOptions: {
        line: {
          dataLabels: {
            enabled: true
          },
          enableMouseTracking: true
        }
      },
      series: purchaseOrderData.series
    });
  });
</script>